@media(max-width:800px) {
    
    .element{
        margin-left: 65px;
    }
}
@media(max-width:425px) {
    .element{
        margin-left: 48px;
    }
    .elementcourse{
        margin-left: 70px;
    }
}