@media(max-width:700px) {
    .element{
        margin-left: 55px;
    }
}
@media(max-width:425px) {
    .element{
        margin-left: 48px;
    }
    .elementcourse{
        margin-left: 70px;
    }
}